
body {
    background: #58558a;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
}

header {
    grid-area: heading;
    text-align: center;
    font-size: 90px;
    margin: 5px;

    background: linear-gradient(to left,
    #9ACD32, #FFDAB9, #FFFFE0, #FFFF00, #00BFFF, #FFA500,
    #FF4500, #8B0000, #FFD700, #ADD8E6, #FFFFFF, #C0C0C0);
    background-clip: text;
    display: inline-block;
    background-size: 200% auto;
    color: transparent;
    animation: animated 10s linear infinite;

}

@keyframes animated {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }

}

#places {
    font-size: 40px;
    height: 55px;
    margin: 15px


}

#textInput {
    font-size: 40px;
    height: 50px;

}

.grid-container {
    display: grid;
    grid-template-areas:
    'heading heading heading'
    'location location'
    'infoDisplay infoDisplay'
    'whoKnows whoKnows';

}

#location {
    grid-area: location;
}

#infoDisplay {
    grid-area: infoDisplay;
    font-size: 25px;
    text-align: left;
}


#whoKnows {
    grid-area: whoKnows;
}

img {
    height: 22px;
}

@media screen and (max-width: 600px) {

    header {
        font-size: 70px;
        text-align: center;
        padding-bottom: 20px
    }

    #location {
        font-size: 20px;
        text-align: center;
    }

    #places {
        font-size: 20px;
        margin: 10px
    }

    #textInput {
        font-size: 20px;
    }

    #infoDisplay {
        font-size: 20px;
        text-align: left;
    }

}
